
.Toggle {
	background-color: black;
	color: white;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	font-size: 15px;
	line-height: 1;
	align-items: center;
	justify-content: center;
}
.Toggle:hover {
	opacity: 70%;
}
.Toggle[data-state="on"] {
	background-color: #FF746C;
}

